#giftMain{
    display: flex;
    justify-content: space-around;
}

#images{
    width: 500px;
    height: 400px;
    /* background-color: blue; */
    margin-top: 120px;
}

#images p{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
    padding-bottom: 20px;
}

#images img{
    width: 500px;
}

#form{
    width: 500px;
    height: 400px;
    /* background-color: blue;     */
    margin-top: 140px;
}

#numberG{
    margin-bottom: 40px;
}

#checkBox{
    display: block;
    float: left;
}

#checkBoxMain{
    height: 60px;
    width: 200px;
    background-color: aquamarine;
}

#form input{
    margin-right: 20px;
    margin-top: 10px;
    width: 450px;
    height: 30px;
}